/* GLOBAL */
body {
	margin: 0;
	padding: 0;

	background: #181818;
	color: $colorPrimary;

	font-family: $font-default;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

img {
	display: inline-block;
	max-width: 100%;
}

a {
	text-decoration: none;
	outline: none;
	color: $colorPrimary;
}

hr {
	display: block;
	margin: 20px auto;
	border: none;
	border-top: 1px solid #3f4048;
}

ul {
	padding: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.hidden {
	display: none;
}

.icon {
	display: block;
}

.icon-inline {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-green {
	color: $green !important;
}

.text-yellow {
	color: $yellow !important;
}

.text-red {
	color: $red !important;
}
.float-right {
	float: right !important;
}

.container {
	padding: 0 10px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.text-small {
	font-size: 10px;
}

.link-more {
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
}
.back-link {
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	i {
		margin-right: 10px;
	}
}

.block__tittle {
	margin: 0 0 10px ;
	text-align: center;
}
.block__desc {
	margin: 0 0 10px ;
	text-align: center;
}
.block {
	margin: 20px auto;
	padding: 20px;
	max-width:590px;
	border:1px solid #3f4048;
	@include screen(medium){
		padding: 24px 32px 20px;
	}
}
.link {
	border-bottom:1px solid;
}

.show-style {
	margin: 0;
	list-style: none;
	@include absolute(top 10px right 10px);
	li {
		display: inline-block;
		vertical-align: middle;
	}
}

.list--accodion {
	list-style:none;
	text-align:left;
	h3 {
		position: relative;
		padding-left: 30px;
		&:after {
			content:"\f107";
			font: normal normal normal 22px/1 FontAwesome;
			@include absolute(top 0px left 0px);
			color:#cac9ca;
		}
	}
	p {
		display: none;
	}
	.active {
		p {
			display:block;
		}
		h3:after {
			content:"\f106";
		}
	}
}
.hide-md {
	@include screen(medium){
		display:none;
	}
}
.show-md {
	@include screen(medium, false){
		display:none;
	}
}
