.btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 32px;
  outline: none;
  background: none;
  border: 2px solid;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: #Fff;
  font-size: 12px;
  min-width: 200px;
  text-transform: uppercase;
  @include screen(medium){
    font-size: 14px;
  }

  &[disabled] {
    cursor: not-allowed !important;
  }

}
.btn-wrapper  {
  text-align: center;
  .btn {
    margin: 20px 0;
  }
}

.btn--green {
  background: $green;
  border-color: $green;
}
.btn--red {
  background: $red;
  border-color: $red;
}

.btn--line-red {
  background: none;
  border-color: $red;
}
.btn--line-green {
  border-color: $green;
  background: none;
}


.btn-burger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;

  &:before, &:after, span {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background-color: $colorBurger;
    border-radius: 2px;
    position: absolute;
  }

  &:before {
    top: 6px;
    left: 0;
    transition: all 0.3s ease;
  }
  span {
    top: 18px;
    left: 0;
    transition: all 0.3s ease 0.2s;
    @include clear-text;
  }
  &:after {
    top: 30px;
    left: 0;
    transition: all 0.3s ease;
  }

  &.active {
    &:before {
      top: 18px;
      transform: rotate(135deg);
      transition: all 0.3s ease 0.2s;
    }
    span {
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:after {
      top: 18px;
      transform: rotate(-135deg);
      transition: all 0.3s ease 0.2s;
    }
  }
}

.hamburger {
  @include hamburger($colorBurger, $colorBurger, 30px, 20px, 2px, 3);
}
