/* Checkbox */
.checkbox__wrapper {
	margin-bottom: 20px;
	label {
		cursor: pointer;

		&:before {
			margin-right: 5px;
			display: inline-block;
			content: '';
			background: url(../images/icons/icon-checkbox.png) top center / 16px 32px no-repeat;
			background-position: 0 0;
			width: 16px;
			height: 16px;
			vertical-align: text-bottom;
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked ~ label {
			&:before {
				background-position: 0 -16px;
			}
		}
	}
}

/* Radio */
.radio__wrapper {
	label {
		cursor: pointer;

		&:before {
			margin-right: 5px;
			display: inline-block;
			content: '';
			background: url(../images/icons/icon-radio.png) top center / 16px 32px no-repeat;
			background-position: 0 0;
			width: 16px;
			height: 16px;
			vertical-align: text-bottom;
		}
	}

	input[type="radio"] {
		display: none;

		&:checked ~ label {
			&:before {
				background-position: 0 -16px;
			}
		}
	}
}


/* Input */
.input__wrapper{
	margin-bottom: 10px;
	height: 44px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #c6c6c6;

	input {
		padding: 0 15px;
		outline: none;
		border: none;
		background: none;
		width: 100%;
		height: 44px;
		font-size: 14px;
		line-height: 18px;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		&::-ms-clear {
			display: none;
		}
	}

  /* Textarea */
  &.textarea-wrapper{
  	height: 150px;
  	overflow: hidden;

  	textarea {
  		padding: 0 15px;
  		outline: none;
  		border: none;
  		background: none;
  		width: 100%;
  		height: 130px;
  		font-size: 14px;
  		line-height: 18px;
  		position: absolute;
  		top: 25px;

  		left: 0;
  	}
  }

  label {
  	padding: 0 15px;
  	top:9px;
  	line-height: 20px;
  	font-size:14px;

  	position: absolute;
  	left: 0;

  	transition: top 0.2s ease;
  }

  &.focus {
  	input {
  		height: auto;
  		top: 18px;
  	}
  	label {
  		top: 0px;
  		font-size: 13px;
  	}
  	&.textarea-input {
  		input {
  			height: 150px;
  		}
  	}
  }
}

.input__value-ctrl {

	.input__ctrl {
		display:inline-block;
		vertical-align:middle;
	}

	input {
		display:inline-block;
		vertical-align:middle;
		height:88px;
		width: 101px;
		font-size:40px;
		border: 1px solid #3f4048;
		color: #f1f1f1;
	}
	b {
		margin-left: 10px;
		display:inline-block;
		font-size:16px;
		vertical-align:middle;
	}
}

.form--half {
	@extend %clearfix;
	margin: 0 -1.5% 20px;
	> div {
		float: left;
		width: 47%;
		margin: 0 1.5%;
	}
}


