<footer>

</footer>

<div id="popup" class="mfp-hide">
	<p>STRC Deposit instructions</p>
	<p>
		When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.<br />
		This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information.
	</p>
	<p>
		We build a range of services that help millions of people daily to explore and interact with the world in new ways. Our services include:
	</p>
	<p>
		Google apps, sites, and devices, like Search, YouTube, and Google Home<br />
		Platforms like the Chrome browser and Android operating system<br />
		Products that are integrated into third-party apps and sites, like ads and embedded Google Maps<br />
		You can use our services in a variety of ways to manage your privacy. For example, you can sign up for a Google Account if you want to create and manage content like emails and photos, or see more relevant search results. And you can use many Google services when you’re signed out or without creating an account at all, like searching on Google or watching YouTube videos. You can also choose to browse the web privately using Chrome in Incognito mode. And across our services, you can adjust your privacy settings to control what we collect and how your information is used.
	</p>
	<p>
		help explain things as clearly as possible, we’ve added examples, explanatory videos, and definitions for key terms. And if you have any questions about this Privacy Policy, you can contact us.
	</p>
	<div class="btn-wrapper">
		<a href="#" class="btn--green btn">continue</a>
	</div>
</div>

<div id="popup-tnc" class="mfp-hide">
	<h3>TERMS & CONDITIONS</h3>
	<p>
		When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.<br />
		This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information.
	</p>

	<p>
		We build a range of services that help millions of people daily to explore and interact with the world in new ways. Our services include:
	</p>

	<p>
		Google apps, sites, and devices, like Search, YouTube, and Google Home<br />
		Platforms like the Chrome browser and Android operating system<br />
		Products that are integrated into third-party apps and sites, like ads and embedded Google Maps
		You can use our services in a variety of ways to manage your privacy. For example, you can sign up for a Google Account if you want to create and manage content like emails and photos, or see more relevant search results. And you can use many Google services when you’re signed out or without creating an account at all, like searching on Google or watching YouTube videos. You can also choose to browse the web privately using Chrome in Incognito mode. And across our services, you can adjust your privacy settings to control what we collect and how your information is used.
	</p>
	<p>
		To help explain things as clearly as possible, we’ve added examples, explanatory videos, and definitions for key terms. And if you have any questions about this Privacy Policy, you can contact us.
	</p>
</div>

<div id="popup-gift text--center" class="mfp-hide">
	<figure>
		
	</figure>
	<h3>10% off your entire order</h3>
	<p class="text--small">Get a discount code for <a href="#">bookoutlet.com</a></p>
	<div class="block">
		<span class="text-small">Details</span>
		<p>Cost: 1 Credit STRC<br />
		Expires: 08/01/18</p>
	</div>
	<div class="get-code">
		<input id="code-sample" value="JULY10PERCENT">
		<!-- Trigger -->
		<button class="btn" data-clipboard-target="#code-sample">COPY</button>
	</div>
	<div class="btn-wrapper">
		<a href="#" class="btn btn--green">buy discount code</a><br />
		<a href="#" class="link">Send as Email</a>
	</div>
</div>

<div id="popup-code text--center" class="mfp-hide">
	<h3>Configure Authenticator App</h3>
	<p>
		Use the QR code below to configure your two-factor authenticator app.
	</p>
	<p>
		1. Download a two-factor authenticator app on your mobile device.<br />
		2. Open the app, then scan QR code to the right or manually enter this code: RQ67CI4ATDFS<br />
		3. Important: Save the backup code KQPNFIH62J2G somewhere safe. You can use it to access your account in the event that you lose your device.<br />
		4. Enter the current six-digit numerical passcode from the two-factor authenticator app to verify your device is properly configured.
	</p>
	<figure>
	</figure>
	<div class="input__wrapper">
		<input type="text" name="authenticator-code" id="authenticator-code" />
		<label for="authenticator-code">Authenticator Code</label>
	</div>
	<p>
		If you lose your device that has your two-factor authenticator app, you can use a backup code to access your account. The backup code can only be used once, so keep it somewhere you can access even if you lose your mobile device. The backup code for this account is RQ67CI4ATDFS5WA4.
	</p>
	<div class="btn-wrapper">
		<a href="#" class="btn btn--green">Submit</a>
	</div>
</div>