.big-number {
	font-size: 48px;
	color: #f1f1f1;	
	vertical-align: middle;
	display: inline-block;

	@include screen(medium, false){
		display: block;
	}
}

.user__block {
	@include absolute(top 20px right 15px);
}

.user__block {
	.notify {
		height:20px;
		width:20px;
		font-size: 14px;
		line-height: 20px;
		text-align:center;
		border-radius: 50%;
		background:$green;
		color:#fff;
		display:inline-block;
		@include screen(medium){
			margin-right: 5px;
		}
	}
	h3 {
		display:inline-block;
		vertical-align:middle;
	}
}

.transaction {
	.container {
		@extend %clearfix;
	}
}

.transaction__block {
	@include screen(medium){
		float: left; 
		width: 70%;
	}
}
.notify__block {
	@include screen(medium){
		float: left;
		width: 30%;
	}
}

.account__header {
	.btn {
		min-width: 80px;
		vertical-align: middle;
		margin: 5px 4px;
		@include screen(medium){
			min-width: 110px;
			margin: 5px 8px;
		}
	}
	p {
		margin: 0;
	}
}

.transaction__wrapper {
	.item {
		color: #acaaad;
		padding: 10px;
		position: relative;
		border: solid 1px #3f4048;
		height: 72px;
		@extend %clearfix;
		margin: 20px 0;
		@include screen(medium){
			height: 48px;
			> div {
				display:inline-block;
				vertical-align:middle;
				text-align:center;
			}

		}
	}
}

.block-title {
	font-size: 18px;
}
.transaction__icon {

	@include screen(medium){
		display: inline-block;
		width: 15%;
	}
}

.transaction__credit {
	font-size: 14px;
	text-transform: capitalize;
	margin-bottom: 10px;
	@include screen(medium){
		font-size: 16px;
		display: inline-block;
		width: 20%;
	}
}
.transaction__activity {
	font-size: 16px;
	text-transform: capitalize;
	@include screen(medium){
		font-size: 14px;
		display: inline-block;
		width: 20%;
	}
}
.transaction__status {
	text-transform: capitalize;
	@include absolute(top 10px right 20px);
	@include screen(medium){
		position:static;
		display: inline-block;
		width: 20%;
	}
}
.transaction__time {
	@include absolute(bottom 20px right 20px);
	font-size: 10px;
	color: #a7a4a8;
	@include screen(medium){
		position:static;
		display: inline-block;
		width: 20%;
	}
}

.notify__wrapper{
	border: 1px solid $colorPrimary;
	padding: 10px;
	li {
		list-style: none;
		font-size: 14px;
		margin: 10px 0;
		i {
			margin-right: 10px;
		}
	}
}

.order__time {
	color:#dddddd;
	font-size: 10px;
}

.order__total {
	font-size: 18px;
}
